---
import HeroLayout from "@layouts/HeroLayout.astro";
---

<HeroLayout title="hero">
	<section class="bg-gray-800 text-gray-100">
		<div
			class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl"
		>
			<h1 class="text-4xl font-bold leadi sm:text-5xl">
				なんか
				<span class="text-violet-400">かっこいい</span>タイトル
			</h1>
			<p class="px-8 mt-8 mb-12 text-lg">おしゃれな見出し</p>
			<div class="flex flex-wrap justify-center">
				<button
					class="px-8 py-3 m-2 text-lg font-semibold rounded bg-violet-400 text-gray-900"
					>何も起きないボタン</button
				>
				<button
					class="px-8 py-3 m-2 text-lg border rounded text-gray-50 border-gray-700"
					>何か起きてほしいボタン</button
				>
			</div>
		</div>
	</section>
</HeroLayout>
