---
import NavigationBarLink from "@components/NavigationBarLink.astro";
---

<header class="p-4 bg-gray-800 text-gray-100">
    <div class="container flex justify-between h-16 mx-auto">
        <div class="flex">
            <ul class="items-stretch hidden space-x-3 lg:flex">
                <li class="flex">
                    <NavigationBarLink text="トップ" href="/" />
                </li>
                <li class="flex">
                    <NavigationBarLink text="ブログ" href="/blog" />
                </li>
            </ul>
        </div>
    </div>
</header>
