---
import NavigationBar from "@components/NavigationBar.astro";

const { title } = Astro.props;
export interface Props {
    title: string;
}
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-gray-800">
        <div class="relative pb-24">
            <div class="sticky top-0 left-0 w-full z-50">
                <NavigationBar />
            </div>
            <div>
                <slot />
            </div>
        </div>
    </body>
</html>
